<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ConnectionServlet</servlet-name>
        <servlet-class>iotb.controller.Servlets.ConnectionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>iotb.controller.Servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProductServlet</servlet-name>
        <servlet-class>iotb.controller.Servlets.UpdateProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductServlet</servlet-name>
        <servlet-class>iotb.controller.Servlets.AddProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductServlet</servlet-name>
        <servlet-class>iotb.controller.Servlets.DeleteProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReadProductServlet</servlet-name>
        <servlet-class>iotb.controller.Servlets.SearchProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCustomerServlet</servlet-name>
        <servlet-class>iotb.controller.Servlets.UpdateCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCustomerServlet</servlet-name>
        <servlet-class>iotb.controller.Servlets.DeleteCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStaffServlet</servlet-name>
        <servlet-class>iotb.controller.Servlets.UpdateStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteStaffServlet</servlet-name>
        <servlet-class>iotb.controller.Servlets.DeleteStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>iotb.controller.Servlets.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchProductServlet</servlet-name>
        <servlet-class>iotb.controller.Servlets.SearchProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffLoginServlet</servlet-name>
        <servlet-class>iotb.controller.Servlets.StaffLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffRegisterServlet</servlet-name>
        <servlet-class>iotb.controller.Servlets.StaffRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAccountServlet</servlet-name>
        <servlet-class>iotb.controller.Servlets.DeleteAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListProductServlet</servlet-name>
        <servlet-class>iotb.controller.Servlets.ListProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreatePaymentServlet</servlet-name>
        <servlet-class>iotb.controller.Servlets.CreatePaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateCreditCardServlet</servlet-name>
        <servlet-class>iotb.controller.Servlets.CreateCreditCardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreatePaypalServlet</servlet-name>
        <servlet-class>iotb.controller.Servlets.CreatePaypalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayCreditCardServlet</servlet-name>
        <servlet-class>iotb.controller.Servlets.DisplayCreditCardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayPaymentServlet</servlet-name>
        <servlet-class>iotb.controller.Servlets.DisplayPaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayPaypalServlet</servlet-name>
        <servlet-class>iotb.controller.Servlets.DisplayPaypalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCreditCardServlet</servlet-name>
        <servlet-class>iotb.controller.Servlets.UpdateCreditCardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePaypalServlet</servlet-name>
        <servlet-class>iotb.controller.Servlets.UpdatePaypalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePaymentServlet</servlet-name>
        <servlet-class>iotb.controller.Servlets.UpdatePaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePaymentServlet</servlet-name>
        <servlet-class>iotb.controller.Servlets.DeletePaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCreditCardServlet</servlet-name>
        <servlet-class>iotb.controller.Servlets.DeleteCreditCardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePaypalServlet</servlet-name>
        <servlet-class>iotb.controller.Servlets.DeletePaypalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchPaymentServlet</servlet-name>
        <servlet-class>iotb.controller.Servlets.SearchPaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchedPaymentServlet</servlet-name>
        <servlet-class>iotb.controller.Servlets.SearchedPaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitPaymentServlet</servlet-name>
        <servlet-class>iotb.controller.Servlets.SubmitPaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>iotb.controller.Servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConnectionServlet</servlet-name>
        <url-pattern>/ConnectionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProductServlet</servlet-name>
        <url-pattern>/UpdateProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductServlet</servlet-name>
        <url-pattern>/AddProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductServlet</servlet-name>
        <url-pattern>/DeleteProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReadProductServlet</servlet-name>
        <url-pattern>/ReadProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCustomerServlet</servlet-name>
        <url-pattern>/UpdateCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCustomerServlet</servlet-name>
        <url-pattern>/DeleteCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStaffServlet</servlet-name>
        <url-pattern>/UpdateStaffServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteStaffServlet</servlet-name>
        <url-pattern>/DeleteStaffServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffLoginServlet</servlet-name>
        <url-pattern>/StaffLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchProductServlet</servlet-name>
        <url-pattern>/SearchProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffRegisterServlet</servlet-name>
        <url-pattern>/StaffRegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAccountServlet</servlet-name>
        <url-pattern>/DeleteAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListProductServlet</servlet-name>
        <url-pattern>/ListProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreatePaymentServlet</servlet-name>
        <url-pattern>/CreatePaymentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateCreditCardServlet</servlet-name>
        <url-pattern>/CreateCreditCardServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreatePaypalServlet</servlet-name>
        <url-pattern>/CreatePaypalServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayCreditCardServlet</servlet-name>
        <url-pattern>/DisplayCreditCardServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayPaymentServlet</servlet-name>
        <url-pattern>/DisplayPaymentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayPaypalServlet</servlet-name>
        <url-pattern>/DisplayPaypalServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCreditCardServlet</servlet-name>
        <url-pattern>/UpdateCreditCardServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePaypalServlet</servlet-name>
        <url-pattern>/UpdatePaypalServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePaymentServlet</servlet-name>
        <url-pattern>/UpdatePaymentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePaymentServlet</servlet-name>
        <url-pattern>/DeletePaymentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCreditCardServlet</servlet-name>
        <url-pattern>/DeleteCreditCardServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePaypalServlet</servlet-name>
        <url-pattern>/DeletePaypalServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchPaymentServlet</servlet-name>
        <url-pattern>/SearchPaymentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchedPaymentServlet</servlet-name>
        <url-pattern>/SearchedPaymentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitPaymentServlet</servlet-name>
        <url-pattern>/SubmitPaymentServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
